@model Proyect.Models.titulo

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>titulo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nombre titulo:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre_titulo)
        </dd>

        <dt>
            Libro:
        </dt>

        <dd>
            @Proyect.Controllers.TituloController.nombreLibro(Model.idlibro)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.idtitulo }) |
    @Html.ActionLink("volver a la lista", "Index")
</p>
